/*  updated CSS 3/3/20 6:07M */

/* Responsible for text changing sizes upon screen changing 600px 
CSS - error was browser related upon switching browsers the .css file was updated!

@media screen and (max-width:768px){



}

*/

h1{
  font-family: "Lucida Console", Monaco, monospace;
}

p{
  font-family: "Courier New", Courier, monospace;
}


img{
  max-width: 100%;
  width: auto;
  height: auto;
}

@media screen and (max-width:768px){
  img{
    max-width: 100%;
    width: auto;
    height: auto;
  }
}

body{
 
    background-image: url(../Images/YellowBoard.jpg);
    /*background-size: auto;*/

    /* Full height */
  height: auto;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width:768px){
  body{
  background-image: url(../Images/YellowBoard.jpg);
  background-size: 350vh;
  }
}


@media screen and (max-width:768px){
  .spaceplace{
    padding-top: 2vh;
    padding-bottom: 1vh;
    }
}
.spaceplace{
padding-top: 1vh;
padding-bottom: 1vh;

}

.navigation-bar{
  background-color: hsl(240, 0%, 45%);
  width: 175vh;
  white-space:nowrap;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  border: solid 5px black;
   margin: 15px;
   height: 12vh;
}

@media screen and (max-width:768px){
  .navigation-bar{
    background-color: hsl(240, 0%, 45%);
    width: 93vw;
    white-space:nowrap;
    position: -webkit-sticky; /* Safari */
  position: sticky;
    border: solid 5px black;
     margin: 2vh;
     height: 15vh;
  }
}

@media screen and (max-width:450px){
  .navigation-bar{
    background-color: hsl(240, 0%, 45%);
    width: 85vw;
    white-space:nowrap;
    position: -webkit-sticky; /* Safari */
  position: sticky;
    border: solid 5px black;
     margin: 2vh;
     height: 15vh;
  }
}


.navigation-bar img{
  height: 10.5vh;

  position: relative;
  animation-duration: 4s;
  animation-name: slide;
  animation: slide 10s infinite
}

@media screen and (max-width:768px){
  .navigation-bar img{
    display: none;
  }
}

@keyframes slide{
  0%   { left:525px; top:0px;}
  25%  { left:250px; top:0px;}
  50%  { left:0px; top:0px;}
  75%  { left:250px; top:0px;}
  100% { left:525px; top:0px;}

}

.linknav nav ul {
  white-space:nowrap;
  left: 50%;
  transform: translateX(-50%);
 
}

.linknav nav ul li {
  min-width:55px;
  white-space:nowrap;
  display: table-cell;
  text-align: center;
}

@media screen and (max-width:768px){
  .linknav nav ul li {
    min-width:30px;
    white-space:nowrap;
    display: table-cell;
    text-align: center;
  }
}


.buttonNav{
  box-shadow: 0px 1px 0px 0px #ebebeb;
	background:linear-gradient(to bottom, #858585 5%, #e0e0e0 100%);
	background-color:#858585;
	border-radius:6px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

@media screen and (max-width:768px){
  .buttonNav{
    box-shadow: 0px 1px 0px 0px #ebebeb;
    background:linear-gradient(to bottom, #858585 5%, #e0e0e0 100%);
    background-color:#858585;
    border-radius:6px;
    border:1px solid #000000;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    font-family:Arial;
    font-size:2.5vw;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
  }
}

@media screen and (max-width:450px){
  .buttonNav{
    box-shadow: 0px 1px 0px 0px #ebebeb;
    background:linear-gradient(to bottom, #858585 5%, #e0e0e0 100%);
    background-color:#858585;
    border-radius:6px;
    border:1px solid #000000;
    
    
    cursor:pointer;
    color:#000000;
    font-family:Arial;
    font-size:4vw;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
  }
}

.buttonNav:hover{
  box-shadow: 0px 1px 0px 0px #ebebeb;
	background:linear-gradient(to bottom, #EDC563 5%, #e0e0e0 100%);
	background-color:#EDC563;
	border-radius:6px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

@media screen and (max-width:768px){
  .buttonNav:hover{
    box-shadow: 0px 1px 0px 0px #ebebeb;
    background:linear-gradient(to bottom, #EDC563 5%, #e0e0e0 100%);
    background-color:#EDC563;
    border-radius:6px;
    border:1px solid #000000;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    font-family:Arial;
    font-size:2.5vw;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
  }
}

.logo {
    display: inline-block;
    margin: 9px;
    width: auto;
    height: 11vh;
    animation: infinite-spinning 8s infinite
}

@keyframes infinite-spinning {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}

@keyframes lower{
  0%   { left: 33vw; top:0px;}
  25%  { left: 16.5vw; top:0px;}
  50%  { left: 0px; top:0px;}
  75%  { left: 16.5vw; top:0px;}
  100% { left: 33vw; top:0px;}
}

@keyframes lowerM{
  0%   { left: 61vw; top:0px;}
  25%  { left: 30.5vw; top:0px;}
  50%  { left: 0px; top:0px;}
  75%  { left: 30.5vw; top:0px;}
  100% { left: 61vw; top:0px;}
}

@media screen and (max-width:768px){
  .logo {
    display: inline-block;
    margin: 15px;
    width: auto;
    height: 11vh;

    position: relative;
    animation: lower 4s infinite
  }
}

@media screen and (max-width:450px){
  .logo {
    display: inline-block;
    margin: 15px;
    width: auto;
    height: 11vh;

    position: relative;
    animation: infinite-spinning 4s infinite
  }
}



.social{
    float: right;
    object-fit: cover;
    margin: 15px;
    width: auto;
    height: 11vh;
}

@media screen and (max-width:450px){
  .social{
  float: left;
  flex-wrap: wrap;
   object-fit: cover;
  margin: 10.5px;
   width: auto;
   height: 11vh;
}
}

@media screen and (max-width:450px){
  .logo {
    object-fit: cover;
    Width: auto;
    height: 11vh;
      left: 4vw;
    margin: 1px;
  }

}

.linknav{
    float: right;
    margin: 10px;
  
}

@media screen and (max-width:768px){
.linknav{
  float: left;
  margin: 10px;
  }
}



@media screen and (max-width:450px){
  .linknav{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    }
  }

.linknav a{
    border-style: solid;
    border-width: 5px;
    border-color: Black;
    padding: 10px;
    margin: 10px;
    background-color: #6b6b6b;
}

@media screen and (max-width:768px){
  .linknav a{
    border-style: solid;
    border-width: 5px;
    border-color: Black;
    padding: 1vw;
    margin: 2vw;
    background-color: #6b6b6b;
}

}

.linknav :hover{
    opacity: 75%;
    background-color: #EDC563;
    border-style: solid;
    border-width: 5px;
    border-color: Black;
    padding: 10px;
    margin: 10px;
    background-color: #6b6b6b;
}

/* padding-left: 25vh; */
.Fimg{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5vh;
}


.Fimg img {
  border: solid black;
  background-color: hsl(220, 0%, 15%);
}

footer{
  margin-top: 2vh;
  background-color: hsl(240, 0%, 45%);
  width: 175vh;
  white-space:nowrap;
  border: solid 5px black;
  margin: 15px;
  height: 13vh;
}

@media screen and (max-width:768px){
  footer{
    margin-top: 2vh;
    background-color: hsl(240, 0%, 45%);
    width: 91.8vw;
    white-space:nowrap;
    border: solid 5px black;
     margin: 15px;
     height: 14vh;
  }
}

@media screen and (max-width:450px){
  footer{
    margin-top: 2vh;
    background-color: hsl(240, 0%, 45%);
    width: auto;
    white-space:nowrap;
    border: solid 5px black;
     margin: 15px;
     height: 25vh;
  }
}



#topper{
  font-size: 5vh;
  float: right;
  
  border-style: solid;
  border-width: 1vh;
  background-color: darkgray;
}

@media screen and (max-width:768px){
  #topper{
    display: none;
  }
}

footer a{
 width: auto;
}

@media screen and (max-width:450px){
  footer a{
    width: 1vw;
   }
}

footer img{
  width: 2vw;
  height: 2vh;
}

@media screen and (max-width:450px){
  footer img{
    width: 1vw;
    height: 1vh;
  }
}


.containter{
  margin-left: 27.8vh;
    width: 67.56vw;
    height: auto;
    border: 2px solid black;
    background-color: lightgray;
    overflow:hidden;
  }

  @media screen and (max-width:768px){
    .containter{
      margin-left: 4.5vh;
        width: 88vw;
        height: auto;
        border: 2px solid black;
        background-color: lightgray;
        overflow:hidden;
      }
  }

  @media screen and (max-width:450px){
    .containter{
      margin-left: 4.5vh;
        width: 74.5vw;
        height: auto;
        border: 2px solid black;
        background-color: lightgray;
        overflow:hidden;
      }
  }

  .containter p{
    font-size: 1vw;
    word-spacing: 10px;
    word-break: keep-all;
    line-height: 40px;
    
  }
  

  .containter span {
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }

  @media screen and (max-width:768px){
    .containter span {
      font-size: 20px;
      display: inline-block;
      line-height: normal;
    }
  }

  .column {
    float: left;
    width: 35%;
    padding: 15px;
    margin: 10px;
  }

  .column img{
    width: 250px;
    height: 250px;
    border-radius: 75%;
  }

  @media screen and (max-width:768px){
    .column img{
      display: none;
    }
  }


  .columnRI {
    float: left;
    width: 35%;
    padding: 50px;
    bottom: 25px;
    margin: 25px;
    
  }

  .columnRI img{
      padding: 0px;
      width: 500vh;
  }

  .columnRI button{
    padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: lightgray;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  }

  .columnRI button:hover{
      background-color: black
    }
  
    .columnRI button:active{
        background-color: red;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }


  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .ContactB{
      background-color: darkgray;
  }

  .ContactB .header{
      margin: 50px;
      padding: 5px;
      font-weight: bold;
  }

  .ContactB p{
      padding-right: 10px;
      margin-right: 10px;
  }

  .Contact{
    border-style: solid;
    border-width: 5px; 
    border-color: white;
    
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }


  .iptext{
    font-size: 30px;
    background-color: gray;
    border-style: solid;
    border-width: 10px; 
    border-color: white;
    height: auto;
  }

  @media screen and (max-width:768px){
    .iptext{
      font-size: 30px;
      background-color: gray;
      border-style: solid;
      border-width: 5px; 
      border-color: white;
      width: 88.8vw;
      height: auto;
    }
  }

  .iptext p {
    word-spacing: 5px;
    word-break: keep-all;
    line-height: 40px;
  }


  .card {
    box-shadow: 1px 4px 8px 0 hsl(220, 0%, 15%);
    max-width: 500vh;
    margin: auto;
    text-align: center;
    font-family: arial;
    background-color: hsl(240, 0%, 25%);
    padding: 25px;
    color: white;
  }

  .price {
    font-weight: bold;
    color: white;
    font-size: 22px;
  }

  @media screen and (max-width:768px){
    .card {
      box-shadow: 1px 4px 8px 0 hsl(220, 0%, 15%);
      width: 65vw;
      margin: auto;
      text-align: center;
      font-family: arial;
      background-color: hsl(240, 0%, 25%);
      padding: 25px;
      color: white;
    }
  }
  
  
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }


 